<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post-it</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Post-it</h1>
    <div class="postCont">
        <% for(let post of posts){ %>
            <div class="post">
                <p><i><b>@<%= post.name %></b></i></p>
                <p style=" color: <%= post.color %>">Post: <%= post.content %></p>
                </p>
                <div>
                    <% if (post.media) { %>
                        <img src="<%=post.media %>" alt="Post Image" class="postimg">
                        <% } %>
                </div>
                <a href="http://localhost:5000/posts/<%= post.id %>">Show More </a> &nbsp;&nbsp;&nbsp;
                <a href="http://localhost:5000/posts/<%= post.id %>/edit">Edit Post</a>&nbsp;&nbsp;&nbsp;
                <form action="/posts/<%= post.id %>?_method=DELETE" style="display: inline;" method="post">
                    <button>Delete Post</button>
                </form>
            </div>
            <%}%>

                <a class="newPost" href="http://localhost:5000/posts/new">Create a new post</a>
    </div>
</body>

</html>